.login-page{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .login-box{
        box-sizing: border-box;
        width:25%;
        min-width: 300px;
        max-width: 420px;
        background: #ffffff;
        border-radius: 4px;
        padding: 10px 20px;
        margin: 100px auto 0;
    }
}